<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-col class="ion-text-center">
        <p>Dublin Weather</p>
      </ion-col>
    </ion-item>
    <ion-item>
      <ion-col class="ion-text-center">
        <span>
          Temperature: {{(weatherValues.temp - 273).toFixed(0)}}
        </span>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col class="ion-text-center">
        <span>
          Humidity: {{weatherValues.humidity}}
        </span>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col class="ion-text-center">
        <span>
          Pressure: {{weatherValues.pressure}}
        </span>
      </ion-col>
    </ion-item>
  </ion-card>
</ion-content>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="../../assets/img/weatherClimate.png" alt="" width="1000" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

