<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    This is a simple Application to informe news and Weather.
  </ion-list-header>
</ion-content>

<ion-content>
  <ion-list>
    <ion-list-header>
      Follow us on Facebook and Twitter
    </ion-list-header>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      @ClaudioTeixeira
    </ion-item>
  </ion-list>
</ion-content>
