<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header class="ion-text-center">
    This is a simple Application to informe news and Weather.
  </ion-list-header>
</ion-content>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="../../assets/img/logo.png" alt="" width="150" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content>
  <ion-list>
    <ion-list-header class="ion-text-center">
      Follow us on Twitter
      @ClaudioTeixeira
    </ion-list-header>
  </ion-list>
</ion-content>
